# [AI Innovation Square 릴레이 온라인 특강: Python] 

## 2. 데이터타입
Python 다중상속, duck-typing (객체지향)
- 숫자 : atomic

### container
- container /collection 하나의 데이터 타입에 원소가 여러가지

In [ ]:
import collections.abc import Container

In [7]:
a='1'  #문자열 homogeneous

container 구분기준 
1. homogeneous/heterogeneous : 
    - 원소의 데이터 타입 같은지 여부
    - eg. homogeneous container: tensor 
        - 메모리 관리 효율성, 속도 빠름
2. Sequence / non-Sequence
    -   indexing, sliccing 지원 여부
3. mutable/ immutable
    - 재할당 없이 변하는지 여부

In [1]:
import numpy as np     #vectorization 지원

In [2]:
a=np.array([1,1,1,'2']) #heterogeneous

In [ ]:
import tensorflow sa tf
tf.constant([1,1,1])    #homogeneous

In [3]:
import array

In [4]:
dir(a)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [5]:
len(a)    #Docstring: Return the number of items in a 'container.'

4

In [6]:
a.__len__ #magic/special methods

In [7]:
a.__len__()  #len() funciton과 동일

4

In [14]:
a.__getitem__() #sequence

In [15]:
a='123455'

In [16]:
a[0]    #indexing

'1'

In [22]:
a[10]

IndexError: string index out of range

In [20]:
a[:2]    #slicing

'12'

In [21]:
a[:10]   #slicing Error 없음

'123455'

In [23]:
a[:10000]

'123455'

In [24]:
a[:] #copy개념

'123455'

In [25]:
slice(3) #slicing 객체

slice(None, 3, None)

In [26]:
a[slice(3)]

'123'

In [27]:
a[:3]

'123'

In [28]:
a[:] #copy

'123455'

In [30]:
a[::]

'123455'

In [29]:
a[::2] #2칸마다

'135'

Numpy   `np.s_[]`
Pandas `.loc[],iloc[] `
- 연산자 오버로딩 : 타입에 따라 연산자가 다른 행동 취함

In [32]:
 # + 연산자 오버로딩
class X:
    def __add__(self,other):
        return 1

In [33]:
x=X()

In [35]:
x+100

1

In [36]:
a='123455'
a*a  #계산 불가

TypeError: can't multiply sequence by non-int of type 'str'

In [39]:
a*3

'123455123455123455'

In [40]:
4*[1,2,3,]  #sequence 연산

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [41]:
3*(1,2,)

(1, 2, 1, 2, 1, 2)

### * 8가지

In [42]:
2*3

6

In [43]:
2**3

8

In [44]:
3*[1,'a']

[1, 'a', 1, 'a', 1, 'a']

In [46]:
a,*b=[1,2,3,4] #unpacking
b

[2, 3, 4]

fucntion 3개 - parameter 참고: https://docs.python.org/3/glossary.html

In [47]:
from numpy import *

In [49]:
[1,2,*[3,4]] #묶은거 풀어줌

[1, 2, 3, 4]

In [50]:
{**{'a':1}} # dictionary 키,값 풀기

{'a': 1}

### _ 9 가지
- snake_naming
- _a =1   : _이름 시작하는경우 from module import * 에 비포함
- \_\_a  :mangling
- __*__  special method
- 100_000 
- _I18n  국제화
- _ 최근 output
- 이름_ 
- _ 불필요한 값 unpacking

In [51]:
3

3

In [52]:
_ #가장 최근 output 가져옴

3

In [54]:
5

5

In [55]:
_

5

In [ ]:
np.c_  #column
np.r_ #row
np.s_ #slicing

In [56]:
_,_,a= 1,2,3 #앞의 1,2 불필요해서 _

데이터 타입 고유 특성

In [58]:
a=1 #할당

In [59]:
id(a)

140724369958688

In [60]:
type(a)

int

In [61]:
dir(a) #attribute 확인 가능 <중요>

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

- 문자열: 하나의 데이터 타입에 원소가 여러가지
    -  homogeneus , sequence
        - immutable: str(python 기본), bytes
        - mutable:   bytearray
    
    - `u` unicode, `b` byte, `r`  raw, `f` format string

In [69]:
a='123456' #unicode
a

'123456'

In [70]:
b=b'123456' #byte
b

b'123456'

In [71]:
r=r'123456' #raw
r

'123456'

In [73]:
r=r'''234
56'''
r

'234\n56'

In [74]:
r=r'123\n456' 
r  #repr :특수 문자 표현 하도록 보여줌

'123\\n456'

In [83]:
print(r) #str

123\n456

In [87]:
u='123\n456'
u

'123\n456'

In [88]:
print(u) #escape \ 반영

123
456

In [90]:
f=f'123\n456' #format string
f

'123\n456'

In [93]:
x=1
f=f'{x}'
f #formatting

'1'

In [97]:
print('{0}'.format('abc')) #format

abc

- \_\_str__ : print시 호출
- \_\_repr__ :이름 호출

In [77]:
class B:
    def __str__(self):
        print('str')
        return 'str'
    def __repr__(self):
        print('repr')
        return 'repr'

In [78]:
b=B()
b

repr

repr

In [79]:
print(b)

str
str

In [80]:
a=np.array([1,2,3,])

In [82]:
a #이름

array([1, 2, 3])

In [81]:
print(a)#print

[1 2 3]

In [ ]:
x=tf.constant([1,2,3])
x

In [ ]:
print(x)

In [ ]:
import # keyword shift +tab 불가하여 help() 이용

In [99]:
help('import') #keyword ''

The "import" statement
**********************

   import_stmt     ::= "import" module ["as" identifier] ("," module ["as" identifier])*
                   | "from" relative_module "import" identifier ["as" identifier]
                   ("," identifier ["as" identifier])*
                   | "from" relative_module "import" "(" identifier ["as" identifier]
                   ("," identifier ["as" identifier])* [","] ")"
                   | "from" module "import" "*"
   module          ::= (identifier ".")* identifier
   relative_module ::= "."* module | "."+

The basic import statement (no "from" clause) is executed in two
steps:

1. find a module, loading and initializing it if necessary

2. define a name or names in the local namespace for the scope
   where the "import" statement occurs.

When the statement contains multiple clauses (separated by commas) the
two steps are carried out separately for each clause, just as though
the clauses had been separated out into individual import statements.

The details of the first step, finding and loading modules are
described in greater detail in the section on the import system, which
also describes the various types of packages and modules that can be
imported, as well as all the hooks that can be used to customize the
import system. Note that failures in this step may indicate either
that the module could not be located, *or* that an error occurred
while initializing the module, which includes execution of the
module’s code.

If the requested module is retrieved successfully, it will be made
available in the local namespace in one of three ways:

* If the module name is followed by "as", then the name following
  "as" is bound directly to the imported module.

* If no other name is specified, and the module being imported is a
  top level module, the module’s name is bound in the local namespace
  as a reference to the imported module

* If the module being imported is *not* a top level module, then the
  name of the top level package that contains the module is bound in
  the local namespace as a reference to the top level package. The
  imported module must be accessed using its full qualified name
  rather than directly

The "from" form uses a slightly more complex process:

1. find the module specified in the "from" clause, loading and
   initializing it if necessary;

2. for each of the identifiers specified in the "import" clauses:

   1. check if the imported module has an attribute by that name

   2. if not, attempt to import a submodule with that name and then
      check the imported module again for that attribute

   3. if the attribute is not found, "ImportError" is raised.

   4. otherwise, a reference to that value is stored in the local
      namespace, using the name in the "as" clause if it is present,
      otherwise using the attribute name

Examples:

   import foo                 # foo imported and bound locally
   import foo.bar.baz         # foo.bar.baz imported, foo bound locally
   import foo.bar.baz as fbb  # foo.bar.baz imported and bound as fbb
   from foo.bar import baz    # foo.bar.baz imported and bound as baz
   from foo import attr       # foo imported and foo.attr bound as attr

If the list of identifiers is replaced by a star ("'*'"), all public
names defined in the module are bound in the local namespace for the
scope where the "import" statement occurs.

The *public names* defined by a module are determined by checking the
module’s namespace for a variable named "__all__"; if defined, it must
be a sequence of strings which are names defined or imported by that
module.  The names given in "__all__" are all considered public and
are required to exist.  If "__all__" is not defined, the set of public
names includes all names found in the module’s namespace which do not
begin with an underscore character ("'_'").  "__all__" should contain
the entire public API. It is intended to avoid accidentally exporting
items that are not part of the API (such as library modules which were
imported and used within the module).

The wild card form of import — "from module import *" — is only
allowed at the module level.  Attempting to use it in class or
function definitions will raise a "SyntaxError".

When specifying what module to import you do not have to specify the
absolute name of the module. When a module or package is contained
within another package it is possible to make a relative import within
the same top package without having to mention the package name. By
using leading dots in the specified module or package after "from" you
can specify how high to traverse up the current package hierarchy
without specifying exact names. One leading dot means the current
package where the module making the import exists. Two dots means up
one package level. Three dots is up two levels, etc. So if you execute
"from . import mod" from a module in the "pkg" package then you will
end up importing "pkg.mod". If you execute "from ..subpkg2 import mod"
from within "pkg.subpkg1" you will import "pkg.subpkg2.mod". The
specification for relative imports is contained in the Package
Relative Imports section.

"importlib.import_module()" is provided to support applications that
determine dynamically the modules to be loaded.

Raises an auditing event "import" with arguments "module", "filename",
"sys.path", "sys.meta_path", "sys.path_hooks".


Future statements
=================

A *future statement* is a directive to the compiler that a particular
module should be compiled using syntax or semantics that will be
available in a specified future release of Python where the feature
becomes standard.

The future statement is intended to ease migration to future versions
of Python that introduce incompatible changes to the language.  It
allows use of the new features on a per-module basis before the
release in which the feature becomes standard.

   future_stmt ::= "from" "__future__" "import" feature ["as" identifier]
                   ("," feature ["as" identifier])*
                   | "from" "__future__" "import" "(" feature ["as" identifier]
                   ("," feature ["as" identifier])* [","] ")"
   feature     ::= identifier

A future statement must appear near the top of the module.  The only
lines that can appear before a future statement are:

* the module docstring (if any),

* comments,

* blank lines, and

* other future statements.

The only feature in Python 3.7 that requires using the future
statement is "annotations".

All historical features enabled by the future statement are still
recognized by Python 3.  The list includes "absolute_import",
"division", "generators", "generator_stop", "unicode_literals",
"print_function", "nested_scopes" and "with_statement".  They are all
redundant because they are always enabled, and only kept for backwards
compatibility.

A future statement is recognized and treated specially at compile
time: Changes to the semantics of core constructs are often
implemented by generating different code.  It may even be the case
that a new feature introduces new incompatible syntax (such as a new
reserved word), in which case the compiler may need to parse the
module differently.  Such decisions cannot be pushed off until
runtime.

For any given release, the compiler knows which feature names have
been defined, and raises a compile-time error if a future statement
contains a feature not known to it.

The direct runtime semantics are the same as for any import statement:
there is a standard module "__future__", described later, and it will
be imported in the usual way at the time the future statement is
executed.

The interesting runtime semantics depend on the specific feature
enabled by the future statement.

Note that there is nothing special about the statement:

   import __future__ [as name]

That is not a future statement; it’s an ordinary import statement with
no special semantics or syntax restrictions.

Code compiled by calls to the built-in functions "exec()" and
"compile()" that occur in a module "M" containing a future statement
will, by default, use the new syntax or semantics associated with the
future statement.  This can be controlled by optional arguments to
"compile()" — see the documentation of that function for details.

A future statement typed at an interactive interpreter prompt will
take effect for the rest of the interpreter session.  If an
interpreter is started with the "-i" option, is passed a script name
to execute, and the script includes a future statement, it will be in
effect in the interactive session started after the script is
executed.

See also:

  **PEP 236** - Back to the __future__
     The original proposal for the __future__ mechanism.

Related help topics: MODULES

In [ ]:
range()       # shift +tab  -> class Init(생성자)

In [100]:
range(0,10)    #return == instance

range(0, 10)

In [102]:
range(10)[0:3] # homogeneous, sequence

range(0, 3)

In [98]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

> command editor로 단축명령어 선택 가능
    - ctrl + shift + p

### mutable container
- 가능한 mutable 사용 권장하지 않지만 편리함
    > consenting adult
- mutable   :list  []
- immutable :tuple ()


#### mutable 3가지 
1. 자신 값 변화 O /return X
2. 자신 값 변화 O /return O
3. 자신 값 변화 X /return O

In [18]:
a=[1,2,3,'4'] #list : heterogeneous , sequence, mutable
a

[1, 2, 3, '4']

In [19]:
a.append('5')# return 없으나 값 변함

In [20]:
a

[1, 2, 3, '4', '5']

In [21]:
b=a.append(6) #Return None
b

In [22]:
b is None # b는 None

True

In [23]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

함수에서 return 생략시 `return None`

In [24]:
def x():
    a=1

In [25]:
def x():
    ''' 상동''' 
    a=1
    return None

In [26]:
b=x()
b #return 없음

- 자기 자신이 변할수 있는것
    - pop():  return 없음

In [27]:
a

[1, 2, 3, '4', '5', 6]

In [28]:
c=a.pop() #끝 값 6 꺼냄

In [29]:
c

6

In [124]:
a #값 바뀌어져 있음

[1, 2, 3, '4', '5']

In [30]:
a.count(1) #1 1개

1

In [31]:
a.index('5') #4번째에 '5'

4

- pandas의 inplace

In [32]:
import pandas as pd
import seaborn as sns

In [33]:
tips=sns.load_dataset('tips')

In [34]:
tips.sort_values('size')

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
82        10.07  1.83  Female     No  Thur   Lunch     1
222        8.58  1.92    Male    Yes   Fri   Lunch     1
111        7.25  1.00  Female     No   Sat  Dinner     1
0         16.99  1.01  Female     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
155       29.85  5.14  Female     No   Sun  Dinner     5
143       27.05  5.00  Female     No  Thur   Lunch     6
156       48.17  5.00    Male     No   Sun  Dinner     6
141       34.30  6.70    Male     No  Thur   Lunch     6
125       29.80  4.20  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

In [35]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [36]:
tips.sort_values('size',inplace=True) #할당 없이 바꿈
tips

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
82        10.07  1.83  Female     No  Thur   Lunch     1
222        8.58  1.92    Male    Yes   Fri   Lunch     1
111        7.25  1.00  Female     No   Sat  Dinner     1
0         16.99  1.01  Female     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
155       29.85  5.14  Female     No   Sun  Dinner     5
143       27.05  5.00  Female     No  Thur   Lunch     6
156       48.17  5.00    Male     No   Sun  Dinner     6
141       34.30  6.70    Male     No  Thur   Lunch     6
125       29.80  4.20  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

함수형 패러다임에서 중요

In [37]:
tips= tips.sort_values('size',inplace=False) #재할당
tips

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
82        10.07  1.83  Female     No  Thur   Lunch     1
222        8.58  1.92    Male    Yes   Fri   Lunch     1
111        7.25  1.00  Female     No   Sat  Dinner     1
97        12.03  1.50    Male    Yes   Fri  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
185       20.69  5.00    Male     No   Sun  Dinner     5
141       34.30  6.70    Male     No  Thur   Lunch     6
143       27.05  5.00  Female     No  Thur   Lunch     6
156       48.17  5.00    Male     No   Sun  Dinner     6
125       29.80  4.20  Female     No  Thur   Lunch     6

[244 rows x 7 columns]

재할당시 메모리 손실 가능성 존재

#### Python Garbage Collection

In [136]:
import gc #java처럼 자동으로 처리하나 지정 가능

In [137]:
import sys
sys.getrefcount(tips) #refcount =0 되면 gc가 자동으로 삭제

10

- bytes, bytearray
- list , tuple
    - tuple :DB  (생성 이후 변경 방지)
        > Database의 행 = tuple
- 새롭게 메모리 할당

In [138]:
3*[1,2,3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [139]:
[1,2,3]+[1,2,3,] # Seq

[1, 2, 3, 1, 2, 3]

In [140]:
(1,2,3)+(4,)  #seq

(1, 2, 3, 4)

In [141]:
range(10)

range(0, 10)

In [38]:
from collections import namedtuple

In [143]:
point=namedtuple('Point',['x','y']) #객체 생성

In [144]:
x=point(x=3,y=4)

In [145]:
x.x

3

In [146]:
x.y

4

In [149]:
import sys

In [150]:
sys.float_info #namedtuple 구성되어 있음

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [151]:
c=(1,2,3,)
dir(c)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [155]:
c.count(2)

1

In [154]:
c.index(1)

0

In [157]:
set(dir(tuple)) - set(dir(list))

{'__getnewargs__'}

- mutable 인 list 의 자기 자신을 바꾸는 기능들 갖음

In [158]:
set(dir(list))- set(dir(tuple))

{'__delitem__',
 '__iadd__',
 '__imul__',
 '__reversed__',
 '__setitem__',
 'append',
 'clear',
 'copy',
 'extend',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'}

In [160]:
c=1,2,3,4,
c

(1, 2, 3, 4)

In [162]:
def x():
    return 1,2

In [163]:
x()

(1, 2)

In [164]:
def y(*a):
    return a

In [165]:
y(3)

(3,)

In [166]:
y(3,4,5,6,)

(3, 4, 5, 6)

tensorflow
- Tensor 는 immutable

### set
 - 순서, 중복 없음

In [173]:
a={1,1,1,2,2,1,3,}
a  #python 자체에서 sorting 관리(순서 없음)

{1, 2, 3}

In [175]:
b={(1,(2,3))}
b

{(1, (2, 3))}

- mutable set  
- immutable frozenset
    - set 고유 연산 가능

In [184]:
a={1,2,3,}
b={4,5,6}

In [185]:
a-b

{1, 2, 3}

In [186]:
a|b #합집합

{1, 2, 3, 4, 5, 6}

In [187]:
a&b #교집합

set()

In [188]:
a^b #대칭 차집합

{1, 2, 3, 4, 5, 6}

Python 에서는 type casting(형변환) 연산자 없음 
- 명시적 형변환 필요

새로 생성
1. literal
2. instance

In [189]:
set() #init

set()

In [ ]:
dir # 객제 정의한 attribute return

In [190]:
dir(set) # 연산자에서 대응하는 method, function 존재

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Dictionary
- key,value 한 쌍으로 mapping 되어있음
    - key는 hashable type :eg. tuple,int, str
- mutable,non-sequence 순서 없음
    - 내부적으로 알아서 sorting
- Dictionay View : key, values, items 특정 관점으로 값
- mutable 은 고유하지 않아서 넣을 수 없음

In [177]:
c={(1,):'1'}
c

{(1,): '1'}

In [198]:
x={'a':1,'b':2,'c':3} #키 :값

In [199]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [200]:
x.values()

dict_values([1, 2, 3])

In [201]:
x.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [202]:
x['a']

1

특정 key 통해 value 추출

In [204]:
x['a']

1

In [203]:
x['d'] #KeyError:  존재하지 않는 key

KeyError: 'd'

- 처리하는 내부기준 상이함

In [206]:
a=[1,2,3]
a[3]=4 #새로운 값 못 만듦

IndexError: list assignment index out of range

In [207]:
x={'a':1,'b':2,'c':3}
x['d']=2  #새로운 값 추가 가능
x

{'a': 1, 'b': 2, 'c': 3, 'd': 2}

In [210]:
tips=sns.load_dataset('tips')
dir(tips)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [212]:
tips['sun']=1 #dictionary 형태로 되어 있어 추가 가능
tips

     total_bill   tip     sex smoker   day    time  size  sun
0         16.99  1.01  Female     No   Sun  Dinner     2    1
1         10.34  1.66    Male     No   Sun  Dinner     3    1
2         21.01  3.50    Male     No   Sun  Dinner     3    1
3         23.68  3.31    Male     No   Sun  Dinner     2    1
4         24.59  3.61  Female     No   Sun  Dinner     4    1
..          ...   ...     ...    ...   ...     ...   ...  ...
239       29.03  5.92    Male     No   Sat  Dinner     3    1
240       27.18  2.00  Female    Yes   Sat  Dinner     2    1
241       22.67  2.00    Male    Yes   Sat  Dinner     2    1
242       17.82  1.75    Male     No   Sat  Dinner     2    1
243       18.78  3.00  Female     No  Thur  Dinner     2    1

[244 rows x 8 columns]

> - set,indexing :sequence 타입으로 순서 있음 
> - get 순서 없음

In [213]:
x.get('a') #키값

1

In [214]:
x['a']

1

In [218]:
x.get('c',1)

3

In [217]:
x.get('g',1) #없는경우 1 반환

1

In [216]:
x

{'a': 1, 'b': 2, 'c': 3, 'd': 2}

In [220]:
x.pop('a') #키 a의 값 과 같이 꺼냄

1

In [221]:
x

{'b': 2, 'c': 3, 'd': 2}

In [226]:
for i in x:  
    print('key',i)

key b
key c
key d

In [227]:
for i in x.keys():  
    
    ''' 상동'''
    print('key',i)

key b
key c
key d

### in
- membership method :Membership test operations으로 sequence container 에서 사용
    - str, dictionary 주의

In [232]:
help('in') #Membership test operations으로 container 에서 사용

Membership test operations
**************************

The operators "in" and "not in" test for membership.  "x in s"
evaluates to "True" if *x* is a member of *s*, and "False" otherwise.
"x not in s" returns the negation of "x in s".  All built-in sequences
and set types support this as well as dictionary, for which "in" tests
whether the dictionary has a given key. For container types such as
list, tuple, set, frozenset, dict, or collections.deque, the
expression "x in y" is equivalent to "any(x is e or x == e for e in
y)".

For the string and bytes types, "x in y" is "True" if and only if *x*
is a substring of *y*.  An equivalent test is "y.find(x) != -1".
Empty strings are always considered to be a substring of any other
string, so """ in "abc"" will return "True".

For user-defined classes which define the "__contains__()" method, "x
in y" returns "True" if "y.__contains__(x)" returns a true value, and
"False" otherwise.

For user-defined classes which do not define "__contains__()" but do
define "__iter__()", "x in y" is "True" if some value "z", for which
the expression "x is z or x == z" is true, is produced while iterating
over "y". If an exception is raised during the iteration, it is as if
"in" raised that exception.

Lastly, the old-style iteration protocol is tried: if a class defines
"__getitem__()", "x in y" is "True" if and only if there is a non-
negative integer index *i* such that "x is y[i] or x == y[i]", and no
lower integer index raises the "IndexError" exception.  (If any other
exception is raised, it is as if "in" raised that exception).

The operator "not in" is defined to have the inverse truth value of
"in".

Related help topics: SEQUENCEMETHODS

In [228]:
'x' in [1,2,'1']

False

In [229]:
'x' not in [1,2,'1']

True

In [233]:
'x' in 'xyz' #원소별 체크

True

In [234]:
1 in 'xyz' #str 동일한 타입만 체크 가능

TypeError: 'in <string>' requires string as left operand, not int

In [237]:
for i in 'xyz':
    print(i)

x
y
z

In [241]:
from collections import OrderedDict #순서있는 dictionary

In [239]:
1 in {'a':1,'b':2}  #key 값 체크->없음

False

In [240]:
'a' in {'a':1,'b':2} #key 값 체크

True

In [248]:
{'a':1,'b':2}

{'a': 1, 'b': 2}

In [247]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [249]:
{1:2,2:3}

{1: 2, 2: 3}

In [250]:
dict(1=2,2=3) #instance 방식으로 불가

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-250-254c2e5222ff>, line 1)

In [242]:
{} #empty dictionary

{}

In [243]:
type({})

dict

공집합은 instance 방식으로밖에 못 만듦

In [245]:
set() #공집합 만든는 법 set instance

set()

In [246]:
set([1,2,3])

{1, 2, 3}

In [254]:
a=1
a==2 or a==3 or a==4  #3가지 조건 비교

False

In [255]:
a in [2,3,4] #위보다 직관적

False

In [256]:
[1,2,3,*(4,5,6)] #tuple 묶음을 풀어서 list 원소가 됨

[1, 2, 3, 4, 5, 6]

In [258]:
x

{'b': 2, 'c': 3, 'd': 2}

In [259]:
[3,*x] #키값만 가져옴

[3, 'b', 'c', 'd']

In [263]:
x={'b': 2, 'c': 3, 'd': 2,'d':4} #중복 불가, 최근값으로 덮어씌움
x

{'b': 2, 'c': 3, 'd': 4}

In [42]:
a,b,a =1,2,3 #a=3으로 최근값으로 덮음
a

3

In [267]:
{'x':1,*x} #키만 추출해서 불가

SyntaxError: invalid syntax (<ipython-input-267-08c35563bd97>, line 1)

In [268]:
{'x':1,**x}  #키,값

{'x': 1, 'b': 2, 'c': 3, 'd': 4}

In [271]:
{**x,'a':5}

{'b': 2, 'c': 3, 'd': 4, 'a': 5}