In [1]:
errno = 50159747054
name = '홍길동'

In [24]:
 a= '''
설명

'''
a

'\n설명\n'

In [25]:
print(a)

설명

In [31]:
 a=r'''\n
설명

'''
a

'\\n\n설명\n\n'

In [30]:
 a='''\  
설명

'''
a

'\\  \n설명\n\n'

In [ ]:
python 명령형 창에는

In [13]:
x.__repr__  #method-wrapper :

In [19]:
class X():
    def __repr__(self):  #객체를 호출할때 리턴
        return 'A'
    def __str__(self):  #str보여줌 -사용자값 정의해서 보여주기 가능 
        return 'B'

In [20]:
x= X() 
x   #retr

A

In [21]:
print(x)#str

B

### Formatting
문자열을 추가해서 보여주는 기법있음
1. r' ,b' U'
2. repr , str


1. %방법   % 대치할 값
    - c 언어에서 차용

In [ ]:
'Hello'

# “Old Style” String Formatting (% operator) = printf

https://docs.python.org/ko/3/library/stdtypes.html#old-string-formatting

여러 가지 일반적인 오류를 (예를 들어 튜플과 딕셔너리를 올바르게 표시하지 못하는 것) 유발하는 다양한 문제점들이 있습니다. 새 포맷 문자열 리터럴나 str.format() 인터페이스 혹은 템플릿 문자열 을 사용하면 이러한 오류를 피할 수 있습니다. 이 대안들은 또한 텍스트 포매팅에 더욱 강력하고 유연하며 확장 가능한 접근법을 제공합니다.
- C 방식
- 최종 유저에게 보여주는것으로 사용

In [2]:
'Hello, %s' % name  # %s =name

'Hello, 홍길동'

In [3]:
'%x' % errno     # 16진수

'badc0ffee'

In [4]:
'Hey %s, there is a 0x%x error!' %(name, errno) # tuple sequence 타입 (순서대로)

'Hey 홍길동, there is a 0xbadc0ffee error!'

In [5]:
'Hey %(name)s, there is a 0x%(errno)x error!' %{'name':name, 'errno':errno}

'Hey 홍길동, there is a 0xbadc0ffee error!'

In [6]:
first_name = "근영"
last_name = "문"
age = 30
profession = "배우"
affiliation = "나무"
"Hello, %s %s. You are %s. You are a %s. You were a member of %s." % (first_name, last_name, age, profession, affiliation)

'Hello, 근영 문. You are 30. You are a 배우. You were a member of 나무.'

# “New Style” String Formatting (str.format)
- 파이썬 방식

In [7]:
'Hello, {}'.format(name)

'Hello, 홍길동'

In [8]:
'Hey {name}, there is a 0x{errno:x} error!'.format(name=name, errno=errno) #keyword 방식

'Hey 홍길동, there is a 0xbadc0ffee error!'

In [9]:
"Hello, {}. You are {}.".format(name, age) #positional 방식

'Hello, 홍길동. You are 30.'

In [10]:
"Hello, {1}. You are {0}.".format(age, name) #위치 지정

'Hello, 홍길동. You are 30.'

In [11]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(name=person['name'], age=person['age'])

'Hello, Eric. You are 74.'

In [12]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(**person)

'Hello, Eric. You are 74.'

In [13]:
first_name = "길동"
last_name = "Hong"
age = 30
profession = "배우"
affiliation = "나무"
print(("Hello, {first_name} {last_name}. You are {age}. " + 
        "You are a {profession}. You were a member of {affiliation}.") \
        .format(first_name=first_name, last_name=last_name, age=age, \
        profession=profession, affiliation=affiliation))

Hello, 길동 Hong. You are 30. You are a 배우. You were a member of 나무.

# String Interpolation / f-Strings (Python 3.6+) 
- 변수, 상수처럼 사용
- 표현식도 지원
- 문자열로 만들어주는 함수기능 제공 (보고서 자동 생성용-템플릿 기법)

In [14]:
#문자열로 만들어줌
a=1
f'{3 if a==1 else 5}'

'3'

In [15]:
def b():
    return '근영님'

In [16]:
f'{b()} 예쁘다'

'근영님 예쁘다'

In [17]:
f'Hello, {name}!'

'Hello, 홍길동!'

In [18]:
F'Hello, {name}!'

'Hello, 홍길동!'

In [19]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

'Five plus ten is 15 and not 30.'

In [20]:
def greet(name, question):
    return f"Hello, {name}! How's it {question}?"

In [21]:
greet('Bob', 'going')

"Hello, Bob! How's it going?"

In [22]:
def greet(name, question):
    return "Hello, " + name + "! How's it " + question + "?"

In [23]:
f"Hey {name}, there's a {errno:#x} error!"

"Hey 홍길동, there's a 0xbadc0ffee error!"

In [24]:
f"{2 * 37}"

'74'

In [25]:
def to_lowercase(input):
    return input.lower()

In [26]:
name = "Eric Idle"
f"{to_lowercase(name)} is funny."

'eric idle is funny.'

In [27]:
f"{name.lower()} is funny."

'eric idle is funny.'

In [28]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}."

    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

In [29]:
new_comedian = Comedian("Eric", "Idle", "74")
f"{new_comedian}"
f"{new_comedian!r}"

'Eric Idle is 74. Surprise!'

In [30]:
message = (
    f"Hi {name}. "
    "You are a {profession}. "
     "You were in {affiliation}."
)
message

'Hi Eric Idle. You are a {profession}. You were in {affiliation}.'

In [31]:
message = f"Hi {name}. " \
    f"You are a {profession}. " \
    f"You were in {affiliation}."

message

'Hi Eric Idle. You are a 배우. You were in 나무.'

In [32]:
message = f"""
     Hi {name}. 
    You are a {profession}. 
You were in {affiliation}.
"""

message

'\n     Hi Eric Idle. \n    You are a 배우. \nYou were in 나무.\n'

---

In [65]:
%%timeit 
"""name = "Eric"
    age = 74
    '%s is %s.' % (name, age)"""

7.32 ns ± 0.108 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [66]:
%%timeit 
"""name = "Eric"
    age = 74
    '{} is {}.'.format(name, age)"""

7.69 ns ± 0.377 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [68]:
%%timeit 
"""name = "Eric"
    age = 74
    f'{name} is {age}.'"""

7.38 ns ± 0.185 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

## 주의

In [72]:
f"{'Eric Idle'}"
f'{"Eric Idle"}'
f"""Eric Idle"""
f'''Eric Idle'''
f"The \"comedian\" is {name}, aged {age}."

'Eric Idle'

'Eric Idle'

'Eric Idle'

'Eric Idle'

'The "comedian" is Eric Idle, aged 30.'

In [74]:
comedian = {'name': 'Eric Idle', 'age': 74}
f"The comedian is {comedian['name']}, aged {comedian['age']}."

'The comedian is Eric Idle, aged 74.'

In [76]:
f'The comedian is {comedian['name']}, aged {comedian['age']}.'

SyntaxError: invalid syntax (<ipython-input-76-cd7d8a3db23b>, line 1)

In [78]:
f"{{74}}"
f"{{{74}}}"
f"{{{{74}}}}"

'{74}'

'{74}'

'{{74}}'

In [79]:
f"{\"Eric Idle\"}"

SyntaxError: f-string expression part cannot include a backslash (<ipython-input-79-35cb9fe0ccc1>, line 1)

In [80]:
f"Eric is {2 * 37 #Oh my!}."

SyntaxError: f-string expression part cannot include '#' (<ipython-input-80-5416628b2379>, line 1)

# Template Strings (Standard Library)
- 표준 라이브러리로 템플릿 기법 제공
- 시각화, 리포팅에 응용 가능 (2주차 디비 , 3주차 크롤링 -결과값 바꿔서 저장)

In [33]:
from string import Template
name='there'
t = Template('Hey, $name!') # $대치가능 
t.substitute(name=name)

'Hey, there!'

In [34]:
templ_string = 'Hey $name, there is a $error error!'

In [35]:
Template(templ_string).substitute(name=name, error=hex(errno))

'Hey there, there is a 0xbadc0ffee error!'

## http://lucumr.pocoo.org/2016/12/29/careful-with-str-format/
-  dir( )
- 사용자로부터 숨길수 있음
 - 해킹이 쉬움, 포맷스트링 (속도도 빠르고 해킹 방지 f'  효율적)

In [39]:
pwd ='문근영'

class Error:
    def __init__(self):
        pass

In [41]:
user_input = '{error.__init__.__globals__[pwd]}' 
user_input

'{error.__init__.__globals__[pwd]}'

In [37]:
err = Error()
user_input.format(error=err)

'문근영'

In [38]:
user_input = '${error.__init__.__globals__[pwd]}'

Template(user_input).substitute(error=err)